.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgba(238, 238, 238, 0.932);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .header{
    padding: 1rem;
    background-color: rgba(238, 238, 238, 0.932);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }


  .flex-container {
      display: flex; 
      justify-content: space-between;
      width: 70%;     
  }
  
  .icons-align {
    align-self:baseline;
}

.listStyle {
    list-style-type: none;
}